/* 
Styles for Mauricio Esguerra's Homepage
Author: Mauricio Esguerra Neira (PhD)
Date:   May 17, 2019
*/

/* Defaults */
* {
    border:0;
    margin:0;
    padding:0;
} 

/* body */
body {  
    font:  1.0em Helvetica, sans-serif, "Lucida Grande", "Lucida Sans", arial,
        serif, courier;
    background: rgb(255,255,255);
    color:  rgb(30,30,30); /* This is the foreground letters color */
    padding-top:  4.5rem;
    padding-left: 2.0rem;
    float: none; 
}

/* Images */
img {
    border: 0pt;
    margin: 0% 0% 0% 0%;
    max-width:  100%;
    max-height: 100%;
}

img.center {   
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 480;
    width: auto\9; 
/*    height: 480px; */
/*    width:  480px; */
}

aside{
    float: left;
    width: 100px;
/*    margin: 0 0 0px 0px; */
/*    color: rgb(191,191,191); */
/*    color: rgb(000,000,000); */
}

aside li {
/*      color: rgba(000,000,000, 0.9); */
/*      list-style: none; */
/*      font-size: 0.9em; */
/*      margin:10px 2px 10px 2px; */
}

aside li a:link, aside li a:visited {
      color: rgba(000,000,000,0.9);
      border:none;
      text-transform: none;
}

article {
/*    float: right; */
    margin-left: 100px;
}

/* Code Boxes */
pre{
        display:block;
        border:2px solid #000;
        padding:2em;
        background-color:#ddd;
        color:black;
        margin: 4px 20px 4px 20px;
}



