{% extends "layout.html" %}
{% block content %}

<br /> 
<h1>Courses</h1> 
<hr /> 

<h2>Spring 2012</h2>
<br/>
<h3><a  href="ki2430.htm"> - Principles of  Nucleic  Acid Structure  (KI
    2430) (Lecture 6)</a></h3>

<br/>
<h2>Spring 2014</h2>
<br/>
<h3><a href="https://bitbucket.org/esguerra/ki2014na/src"> - Geometrical Description of Nucleic Acids, tutorial on 3DNA and pymol. 
</a></h3>

<ol id="footer"></ol>
<script>
jQuery(function($){  
$("#footer").load("footer");
});
</script>

{% endblock content %}