{% extends "layout.html" %}
{% block content %}

<article>
  <br /> 
{#  <h1>Courses</h1> #}
{#  <hr/> #}

  <ul>
    <li><h2>Spring 2012</h2></li>
  </ul>
  <br/>

  <h3>Principles of Nucleic Acid Structure</h3>
  <h3>(Karolinska Institute Doctoral Course 2430)</h3>
</br>
<h4>Lecture 6</h4>
<br/>
  <p>Lecture materials can be dowloaded from github:</p>
<pre>
<a href="https://github.com/esguerra/ki2430">git clone https://github.com/esguerra/ki2430.git</a>
</pre>  


  <br/>
  <ul>
    <li><h2>Spring 2014</h2></li>
  </ul>
  <br/>

  <h3>Geometrical Description of Nucleic Acids, tutorial on 3DNA and pymol.</h3>
  <h3>(Karolinska Institute Doctoral Course 2430)</h3>
</br>
  <p>Lecture materials can be dowloaded from github:</p>
<pre>
<a href="https://github.com/esguerra/ki2014na">git clone https://github.com/esguerra/ki2014na.git</a>  
</pre>  

  <ol id="footer"></ol>
  <script>
    jQuery(function($){  
	$("#footer").load("footer");
    });
  </script>
</article>
{% endblock content %}

