{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
// Type the number of images you are rotating.
NumberOfImagesToRotate = 16;
// Specify the first and last part of the image tag. 
First = '<br><div><img src="static/images/random_';
PNG = '.png" class="center" alt="Molecular Rendering"> </div> ';
GIF = '.gif" class="center" alt="Molecular Animation"> </div> ';

function printImage() {
    const r = Math.ceil(Math.random() * NumberOfImagesToRotate);
//    var r = 14;
    console.log(r);
    if (r <= 13) {
	document.write(First + r + PNG);
    } else {
	document.write(First + r + GIF);
    }
}

function myFunction(x) {
  if (x.matches) { // If media query matches
      PNG = '.png" class="img-fluid"></div> ';
  }
  else {
      Last = '.png" height="480" class="center"></div> ';
      document.body.style.backgroundColor = "pink";
  }
}
//myFunction(x) // Call listener function at run time
//var x = window.matchMedia("(max-width: 500px)")
//x.addListener(myFunction) // Attach listener function on state changes
</script>

<script type="text/javascript">
printImage();
</script>


<br>
<div style="text-align:center">
<!-- <a href="~esguerra">  -old homepage-</a> -->
</div>
<br>
(+45)-71-52-18-92 (cell-denmark)
<br>
(+46)-073-678-5334 (cell-sweden)
<br/>
e-mail:
<script type="text/javascript">
  //<![CDATA[
<!--
    var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
    "=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
    ".substr(0,ol);}f(\")09,\\\"PZRAEX400\\\\K_710\\\\610\\\\300\\\\000\\\\*2840" +
    "0\\\\609:1n\\\\ 2r\\\\0\\\"\\\\=+8+8/620\\\\<(\\\"\\\\230\\\\+*!(2J_P200\\\\"+
    "130\\\\f}620\\\\_f520\\\\UA@TEH]h410\\\\DCJAUSDi100\\\\~430\\\\Esjth;8Euxu;" +
    "xzs|wOo771\\\\~n771\\\\n{b(jm`ksu730\\\\020\\\\F420\\\\610\\\\520\\\\120\\\\"+
    "620\\\\330\\\\W(N420\\\\420\\\\200\\\\700\\\\N410\\\\PIB700\\\\400\\\\200\\" +
    "\\220\\\\410\\\\620\\\\420\\\\L520\\\\610\\\\:3(?4>\\\"(f};o nruter};))++y(" +
    "^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;2=*y))y+09(>i(fi{)++i;l<i;0=" +
    "i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                        ;
    while(x=eval(x));
    -->
//]]>
</script>
<br>
<a href="{{ url_for('static', filename='resume.pdf') }}">[RESUME]</a>
 - 
<a href="https://rnafacts.blogspot.com">[BLOG]</a>
{#<a href="https://blog.mesguerra.org">[BLOG]</a>#}

<br>
{#<br>#}
{#- <a href="https://old.mesguerra.org">old version of mesguerra.org</a> -#}
{#<br>#}

<ol id="footer"></ol>
<script>
jQuery(function($){  
$("#footer").load("footer");
});
</script>


{% endblock content %}
