{% extends "layout.html" %}
{% block content %}
<title>{{ tree.name }}</title>
<h1>Index of /{{ tree.name }}/</h1>

{% macro render_tree(items) %}
<ul>
  {%- for item in items %}
    <li>
      {%- if item.children %}
        <strong>{{ item.name }}/</strong>
        {{ render_tree(item.children) }}
      {%- else %}
        <a href="{{ url_for('static', filename='scripts/' ~ item.path) }}">{{ item.name }}</a>
      {%- endif %}
    </li>
  {%- endfor %}
</ul>
{% endmacro %}

{{ render_tree(tree.children) }}
{% endblock content %}