{% extends "layout.html" %}
{% block content %}
<title>{{ tree.name }}</title>
<h1>Index of /{{ tree.path or '/' }}/</h1>

{% if breadcrumbs %}
  <p>
    <a href="{{ url_for('scripts') }}">/</a>
    {%- for crumb in breadcrumbs %}
      / <a href="{{ url_for('scripts', subpath=crumb.path) }}">{{ crumb.name }}</a>
    {%- endfor %}
  </p>
{% endif %}

<ul>
  {%- for item in directories %}
    <li><strong><a href="{{ url_for('scripts', subpath=item.path) }}">{{ item.name }}/</a></strong></li>
  {%- endfor %}
  {%- for item in files %}
    <li><a href="{{ url_for('static', filename='scripts/' ~ item.path) }}">{{ item.name }}</a></li>
  {%- endfor %}
</ul>
{% endblock content %}
