{% extends "layout2.html" %}
{% block content %}
<article>
<h1>SVN Cheatsheet</h1>
<hr/>
<br/>
To checkout (i.e. copy) a repository.
<pre>
svn co https://dnagit.rutgers.edu/scm/Papers/RNAMotifs 
</pre>
To check the status of the project.
<pre>
svn status
</pre>
To add files or folders to the project.
<pre>
svn add *
svn add file
svn Folder/
</pre>
To commit changes to the project.
<pre>
svn commit 
</pre>
To remove files.
<pre>
svn rm file
svn rm folder
</pre>
<!-- FOOTER SECTION -->
<br/>
<ol id="footer"></ol>
<script>
jQuery(function($){  
$("#footer").load("../footer");
});
</script>
</article>
{% endblock content %}