{% extends "layout2.html" %}
{% block content %}

<article>
<h1>Computer Tricks & Recipes</h1>
<hr/>

<p>The pages linked  on the menu  to  your left  are mainly "cheatsheets"
useful to computational chemists.</p>

<p>These notes serve as an ever changing reminder of tips and tricks for myself
and will hopefully be useful as direct reference to technical tricks I wish to share
with students, or computational chemists in training.</p>
</article>
<br/>
<br/>

<ol id="footer"></ol>
<script>
jQuery(function($){  
$("#footer").load("footer");
});
</script>

{% endblock content %}
